body {
  margin: 0;
  padding:0;
  font-family: sans-serif;
  background-color: green;
  background-image: url("http://wallpapercave.com/wp/PO6cjaY.jpg");
  overflow: auto;
}
hr {
  margin: 35px auto;
  padding: 0;
  width: 80%;
  color: white;
}
button {
  border: 0;
  background: linear-gradient(#fff, #fff, #bbb);
  box-shadow: 1px 4px 1px #999;
  border: 1px solid #ccc;
  
}
button:hover {
  cursor: pointer;
  background: linear-gradient(#fff, #fff, #eee, #fff);
}
button:active {
  position: relative;
  top: 1px;
  background: radial-gradient(#ccc, #fff, #fff);
  box-shadow: 1px 4px 1px #999, inset 0 2px 1px #999
}
.container {
  margin: 0;
  padding: 0;
  padding-top: 20px;
  min-height: 100vh;
  background-color: rgba(0, 200, 130, 0.4);
  z-index: 1;
}

.floatingChar {
  font-size: 33em;
  position: absolute;
  width: 300px;
  left:0;
  right: 0;
  margin: auto;
  margin-top: 7%;
  font-weight: bold;
  color: #000;
  z-index: 2;
  opacity: 0.8;
  text-shadow: 
    200px 500px 10px #000,
    450px 0px 0px #444,
    700px -200px 20px #000,
    950px -100px 0px #666,
    374px 327px 20px #000,
    450px 0px 25px #000,
    640px 350px 0px #222,
    750px 100px 30px #000,
    950px 300px 0px #888,
    950px 300px 10px #222,
    200px -200px 20px #000,
    400px -300px 20px #333,
    630px -450px 20px #444,
    900px -300px 20px #333,
    0px 300px 0px #333,
    0px -300px 3px #333,
    160px 100px 10px #333,
    
    
    -200px 400px 10px #000,
    -450px 0px 0px #000,
    -700px -200px 20px #444,
    -950px -100px 0px #666,
    -374px 327px 5px #222,
    -250px 100px 25px #888,
    -640px 200px 0px #222,
    -750px 30px 30px #000,
    -150px 100px 0px #444,
    -950px 300px 10px #222,
    -200px -200px 20px #000,
    -400px -360px 20px #333,
    -630px -450px 5px #444,
    -900px -270px 1px #333,
    0px 300px 0px #333,
    0px -300px 3px #333;
    
    
    
}

.calculator {
  position:absolute;
  margin: auto;
  background-color: rgba(0, 120,50, 0.8);
  display: block;
  width: 300px;
  padding: 145px 30px;
  border-radius: 200px;
  border: 5px solid beige; 
  z-index: 3;
  position:relative;
  
}

.calcDisplayFrame {
  width: 300px;
  overflow: hidden;
  
}

.calcDisplay {
  background-color: rgb(200,245,184);
  text-align: right;
  width: 297px;
  padding: 10px;
  height: 50px;
  overflow-y: scroll;
  color: black;
  word-break: break-all;
  font-size: 43px;
  border: 2px solid #777;
  background-image: url("https://www.transparenttextures.com/patterns/dark-geometric.png");
}
.calcDisplay:hover {
  cursor: ns-resize;
}
.calcBody {
  
}
.leftKeypad {
  display: inline-block;
  margin-bottom:27px;
  width: 227px;
}


.helperBtns { 
  margin-bottom: 20px;
  display: inline-block;
  width: 210px;
}
.helper {
  width: 97px;
  height: 21px;
  border-radius: 10px;
  background: linear-gradient(#fff, #fff, #bbb);
  font-weight: bold;
}



.numberBtns {
  display: inline-block;
  width: 230px;
  transition: 1s all ease;
}
.number {
  width: 60px; 
  height: 60px;
  border-radius: 50%;
  margin: 5px 5px 5px 0;
  background: linear-gradient(#fff, #fff, #bbb);
  box-shadow: 1px 4px 1px #999;
  border: 1px solid #ccc;
  font-size: 16px
}

.number:hover {
  background: linear-gradient(#fff, #fff, #eee, #fff);
}
.number:active {
  position: relative;
  top: 2px;
  background: radial-gradient(#ccc, #fff, #fff);
  box-shadow: 1px 4px 1px #999, inset 0 2px 1px #999;
}
#zero {
  width: 135px;
  border-radius: 30px;
}
.operationBtns {
  display: inline-block;
  width: 60px;
  height: 311px;
  margin: 0;
  padding: 0;
  position: relative;
  top: -20px;
  left: 8px;  
}

.operation{
  width: 60px;
  height: 48px;
  margin-top: 6px;
  border-radius: 10px;
  background: #303030;
  box-shadow: 1px 4px 1px #999;
  border: 1px solid #333;
  color: white;
  font-size: 18px;
  box-shadow: 0 4px 1px #222;
}

.operation:hover {
  background: linear-gradient( #333, #333434, #333);
}
.operation:active {
  background: linear-gradient(#222, #353535, #222);
  box-shadow: 0 4px 1px #222;
}

.operationBtns :last-child{
  height: 100px;
}

.special {
  width: 100%;
  height: 30px;
  border-radius: 20px;
  font-size: 17px;
  font-weight: bold;
}

@media screen and (max-height: 768px) {
  .calculator {
    transform: scale(0.7, 0.7);
    position: relative; 
    top: -100px;
  }
}

@media screen and (max-height: 568px) {
  .calculator {
    transform: scale(0.6, 0.6);
    top: -150px;
  }
}
